<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\HouseholdFinance.Api.dll" stdoutLogEnabled="true" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="OutOfProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <!-- Configurar en el panel MyAspnet o editar tras el primer deploy (sin comillas en los valores):
               ConnectionStrings__DefaultConnection
               JwtSettings__Key
               CorsSettings__AllowedOrigins__0 -->
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>